<div class="container">

    <div class="starter-template">

      <div class="row">      	
        <div class="col-md-1"></div>
        <div class="col-md-5 mt-5">
    
            <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                        <label>Meeting Name</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required/>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Please, write a Meeting Name</div>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="datetime-local" formControlName="dateIn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateIn.errors }"/>
                        <div *ngIf="submitted && f.dateIn.errors" class="invalid-feedback">
                            <div *ngIf="f.dateIn.errors != null && f.dateIn.errors.required">Please, select a Start Date</div>
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label>Finish Date</label>
                        <input type="datetime-local" formControlName="dateOut" class="form-control" [ngClass]="{ 'is-invalid': (submitted && f.dateOut.errors) || (submitted && f.dateOut.errors == null) }"/>
                        <div *ngIf="submitted && f.dateOut.errors != null" class="invalid-feedback">
                            <div *ngIf="f.dateOut.errors != null && f.dateOut.errors.required">Please, select a Finish Date</div>
                        </div>
                        <div *ngIf="submitted && f.dateOut.errors == null" class="invalid-feedback textInvalidDate">
                            <p>{{meetingForm.errors.dates}}</p>    
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="room"> Room</label>
                        <select class="form-control" formControlName="room" [ngClass]="{ 'is-invalid': submitted && f.room.errors }" required>
                            <option value="">Select one room</option>
                            <option *ngFor="let room of this.roomsService._rooms" value="{{room.id}}">{{room.name}}</option>     
                        </select>
                        <div *ngIf="submitted && f.room.errors" class="invalid-feedback">
                            <div *ngIf="f.room.errors.required">Finish Room is required</div>
                        </div>
                    </div>
                    <div class="row rowGuest">
                        <div class="col-md-12">
                            <label for="basic-url">Invite Guest</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Guest email</span>
                                </div>
                                <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                <a href="" class="btn btn-primary" id="btnAddGuest" (click)="addGuest()">Add</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Submit</button>
                    </div>   
            </form>
        </div>
        <div class="col-md-6 mt-5 guestList" *ngIf="guests.length>0">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let guest of guests">
                    <span>{{guest}}</span> 
                    <button class="btn" id="btnCross"(click)="deleteGuest(guest)"><span>x</span></button>                   
                </li>
            </ul>
        </div>

  </div>

   </div>

</div>